apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: multivpc-eni-agent
rules:
  - apiGroups: [""]
    resources:
      - pods
      - nodes
    verbs:
      - get
      - list
      - watch
